!!!
%html
  %head
    %meta{:charset => "utf-8"}/
    %title GMO-free.in
    %link{:href => "css/main.css", :rel => "stylesheet"}
  %body
    #wrapper
      %section#content
        %h1 Welcome to our Github pages!